# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

**/node_modules/
**/yarn-error.log
**/.env
.DS_Store
.nx/cache
tsconfig.tsbuildinfo
.env
packages/secret-upload-contract/.env
packages/secret-instantiate-contract/.env
