# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

logs/

**/node_modules/
**/yarn-error.log
**/.env
.DS_Store
.nx/cache
tsconfig.tsbuildinfo
.env
packages/secret-contracts-scripts/.env
packages/secret-instantiate-contract/.env

## ignore different deployments while we are in dev (comment this once contracts stable)
packages/nextjs/contracts/deployedContracts.ts

## NB hardhat ignores are in packages/hardhat/.gitignore

# yq files
yq.1
install-man-page.sh
